<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.woolworths.village.app">

    <application
        android:usesCleartextTraffic="true"
    >
        <activity android:name=".PaymentConfirm">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="${qr_scheme}"
                    android:host="${qr_hostname}"
                    android:port="${qr_port}"
                    android:pathPattern="${qr_pattern}" />
            </intent-filter>
        </activity>
    </application>
</manifest>